body {
  background-color: $oxfordBlue;
  color: $richBlack;
}

.section-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $platinum;
  box-shadow: 2px 5px 5px 5px $shadowBlue;
  width: 50vw; // need to add a breakpoint for small screens to take 100vw
  position: absolute;
  top: 15%;
  left: 26%;
  right: 20%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;

  @include breakpoint(tablet) {
    width: 90vw;
    top: 5%;
    left: 5%;
    right: 5%;
  }
}

.form-control {
  display: flex;
  flex-direction: row;
  justify-content: center;

  #item {
    width: 30%;
    height: 1.25rem;
    border-radius: 15px;
    background-color: $white;
    font-size: 0.9rem;
    padding-left: 1rem;

    @include breakpoint(tablet) {
      width: 35%;
    }
  }

  #amount {
    width: 20%;
    margin-left: 1rem;
    border-radius: 15px;
    background-color: $white;
    padding-left: 1rem;
    font-size: 0.9rem;

    -moz-appearance: textfield;

    /* Chrome, Safari, Edge, Opera */
    // input::-webkit-outer-spin-button,
    // input::-webkit-inner-spin-button {
    //   -webkit-appearance: none;
    //   margin: 0;
    // }
    /* Firefox */
    // input[type="number"] {
    //   -moz-appearance: textfield;
    // }

    @include breakpoint(tablet) {
      width: 20%;
    }
  }

  .submit-btn {
    height: 1.65rem;
    width: 15%;
    margin-left: 1rem;
    background-color: #778da9;
    color: white;
    border-radius: 15px;
    border-right-width: 2px;
    border-right-style: solid;
    border: none;
  }
}

#item:focus {
  outline: none;
  filter: brightness(90%);
}

#amount:focus {
  outline: none;
  filter: brightness(90%);
}

.total-container {
  margin-top: 2rem;
  visibility: hidden;

  .total {
    font-size: 1.5rem;
  }
}

.list {
  text-align: left;
  padding-left: 2rem;
  margin-top: 1rem;

  @include breakpoint(tablet) {
    padding-left: 0.5rem;
  }
}

.list-item {
  display: grid;
  grid-template-columns: 65% 15% 15%;
  align-items: center;

  @include breakpoint(tablet) {
    grid-template-columns: 60% 15% 25%;
    height: 2.5rem;
  }

  .title {
    padding-left: 3rem;

    @include breakpoint(tablet) {
      padding-left: 0;
    }
  }
}

.btn-container {
  justify-self: center;

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  img {
    height: 1rem;
    width: 1rem;
  }
}

.clear-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 1.5rem;
  width: 50%;
  border: none;
  background-color: inherit;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 1rem;
}

.clear-btn:hover {
  background: rgb(241, 81, 67);
  background: linear-gradient(
    99deg,
    rgba(241, 81, 67, 1) 54%,
    rgba(253, 109, 45, 1) 95%
  );
  color: white;
}

.container {
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.alert-danger {
  background: rgb(241, 81, 67);
}

.alert-success {
  background: rgb(95, 201, 122);
}
